
div{
	border: 2px solid orangered;
	padding: 0px 10px 150px 10px;
	margin:0px 0px 0px 5px;
	background-color: white;
	display: block;
    height: 100px; 
    width: 180px;
    text-align: left;

}

p{

  font-size: 15px;
} 